fastapi==0.116.1
uvicorn==0.35.0
python-dotenv==1.0.1

langchain-openai==0.2.6
langchain-community==0.3.7
langchain-text-splitters==0.3.3
openai==1.107.1

chromadb==0.5.12
rank-bm25==0.2.2
PyMuPDF==1.24.14

neo4j==5.28.2
pydantic>=2.7,<3
